/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common style and utilities */
main{
    font-family: 'Poppins', sans-serif;
}
/* style of copa america 2021 part */
.copa-america
{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
}
.copa-america
{
    display: flex;
    
}
.copa-text
{
    width: 485px;
    height: 230px;
    margin-top: 130px;
    margin-left: 150px;
  /* margin: 207px 102px 240px 156px; */
}
.copa-text h1
{
    color:#FFFFFF;
    font-size: 60px;
    margin-bottom: 27px;
    
}
.copa-text:hover{
    color: tomato;
    transform: scale(1.2) translate(-20px);
    transition: transform 2s ease-out;
}
.copa-text a:hover
{
    background-color:orangered;
    font-family: 'Poppins', sans-serif;

}
.copa-text a
{   color: #FFFFFF; 
    background-color: #E02C6D;
    font-size: 16px;
    text-decoration: none;
    padding:10px 24px;
    
}
.copa-text a .fa-arrow-right{
    padding-left: 10px;
}
.banner
{
    width: 556px;
    height: 438px;
    margin: 153px 141px 86px ;
   
}
.banner:hover
{
    transform: translate(-30px) rotate(10deg);
    transition: transform 2s linear;
    transform-origin: top ;
}
/* styles of player */
.players{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:45px;
    margin-top: 70px;
    margin-left: 80px;
    
    
}
.player-info{
    width: 330px;
    height: 456px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px 5px gray;
    
}
.player-info .player-pic img
{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
  
}
.player-details{
    width: 300px;
    height: 154px;
    
}
.player-details .player-name{
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
}
.player-details .player-about{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
    text-align: justify;
    margin-top: 0;
   
}
/* news style */

.news-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(190, 174, 174, 0.555);
}
.all-news{
    display: flex;
    justify-content:space-around;
}
.news{
    width: 500px;
    height: 250px;
    /* border: 2px solid gray;
    border-radius: 10px; */
    position: relative;

    
}
.news:hover .news-detail{
    display: block;
    background-color: rgba(5, 117, 41, 0.507);

}
.thumbnail img{
    width: 100%;
    border-radius: 10px;

}
.news-detail{
    display: none;
    position: absolute;
    width: 500px;
    top: 230px;
   
    
}
.news-detail a{
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(155, 15, 15);
    text-align: center;
    padding-left: 10px;
}
.news-detail p{
    color: white;
    padding-left: 10px;
}
.youtube{
    padding-top: 30px;
    padding-right: 50px;
   
}
/* footer style  */
.all-footer{
    margin-top: 150px;
    margin-left: 350px;
}

.football{
    width: 484px;
    height: 110px;
}
.football img{
    width:100%;

}
.icons{
    font-size: 2em;
    margin-left: 200px;
    color: purple;
   
}
.copyright{
    margin-left: 160px;
    font-size: 1.2em;
}
/* media query */
@media all screen and (max-width: 688px) 
{
.container
    {
    width: 100%;
    }
.copa-america,.players,.all-news,.all-footer
    {
    grid-template-columns: repeat(1,1fr);
    }
   
}